* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .box {
  width: 100%;
  height: 5.33333rem;
  background: red;
  overflow: hidden;
}

.wrapper .box ul {
  width: 50rem;
  height: 5.33333rem;
  display: flex;
  transition: 2s;
}

.wrapper .box ul li {
  width: 10rem;
  height: 5.33333rem;
}

.wrapper .box ul li img {
  width: 10rem;
  height: 5.33333rem;
}

@keyframes dynamic1 {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(60%);
  }
}
